h1 {
  display: block;
  color: white;
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 7px #0000004f;
  border-radius: 10px;
  margin: 0 0 40px;
}

div {
  display: block;
}

.parent-wrapper {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 7px #0000004f;
  border-radius: 10px;
  margin: 0 0 40px;
}

.parent {
  border: 5px solid rgb(214, 10, 163);
  box-sizing: border-box;
  margin: 10 100 10px;
  display: flex;
  place-content: flex-end flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

.child-wrapper {
  /* height: 500px;
  width: 500px; */
  background: #010305;
  color: white;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 7px #0000004f;
  border-radius: 10px;
  margin: 0 0 40px;
}

.child {
  /* height: 200px;
  width: 200px; */
  margin: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: unset;
  align-self: unset;
  box-sizing: content-box;
}
